* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.player {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;
}

.wrapper {
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: 80%;
    position: absolute;
    overflow: hidden;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60%;
}



.track-art {
    margin: 25px;
    height: 150px;
    width: 150px;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius: 90px;
    -webkit-border-radius: 90px;
    border-radius: 90px;
}

.title{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 10px 0;
}

.artist {
    margin-top: 5px;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.active {
    color: black;
}
.bi-shuffle,
.bi-skip-start-fill,
.bi-skip-end-fill,
.bi-play-circle-fill,
.bi-pause-circle-fill,
.bi-repeat,
.bi-repeat-1,
.bi-arrow-left-right {
    padding: 25px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;   
    cursor: pointer; 
}

.bi-shuffle:hover,
.bi-skip-start-fill:hover,
.bi-skip-end-fill:hover,
.bi-play-circle-fill:hover,
.bi-pause-circle-fill:hover,
.bi-arrow-clockwise:hover,
.bi-repeat:hover,
.bi-repeat-1:hover,
.bi-arrow-left-right:hover{
    opacity: 1.0;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.track-slider,
.volume-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83a9ff;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.track-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 3px solid #377aff;
    cursor: pointer;
    border-radius: 100%;  
}

.track-slider:hover,
.volume-slider:hover {
    opacity: 1.0;
}

.bi-play-circle-fill,
.bi-pause-circle-fill {
    font-size: 5rem;
}

.track-slider {
    width: 60%;
}

.volume-slider {
    width: 20%;
    margin-left: 10px;
}

.current-time,
.total-duration {
    padding: 10px;
}


.bi3em {
    font-size: 3rem;
}

.logo-container {
    top: 10px;
    left: 10px;
    position: absolute;
    padding: 20px;
}

.logo {
    color: black;
    font-size: 3em;
    font-weight: bold;
    
}


.top-bar .options {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100px);
    transition: 0.5s;
}

.top-bar .active2 {
    transform: translateY(0px);
}

.top-bar .options .bi {
    margin: 0 35px;
}

.top-bar {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar i {
    z-index: 20;
}


.bi-list,
.bi-heart,
.bi-heart-fill,
.bi-plus,
.bi-pencil,
.bi-music-note-beamed,
.bi-plus-lg {
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;   
    cursor: pointer;
}

.bi-list:hover,
.bi-heart:hover,
.bi-heart-fill:hover,
.bi-plus:hover,
.bi-pencil:hover,
.bi-music-note-beamed:hover,
.bi-plus-lg:hover {
    opacity: 1.0;
}




.playlist {
    margin: 0 0 0 -30px;
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 85%;
    background: #fff;
    max-height: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.7s;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.playlist::-webkit-scrollbar {
    display: none;
}

.active {
    max-height: 100%;
    padding: 100px 0 0 0;
}


.playlist .p-song {
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    padding: 12px 12px 20px 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.playlist .p-song:not(:first-child) {
    margin-top: 30px;
}

.playlist .p-song:last-child {
    margin-bottom: 20px;
}

.playlist .p-song .p-title{
    font-size: 20px;
}

.playlist .p-song .p-artist{
    position: absolute;
    bottom: 6px;
    font-size: 11px;
}

.playlist .p-song i {
    right: 0;
    font-size: 20px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist .p-song:hover {
    color: #000;
}

.playlist .song-active:hover {
    background: hotpink;
}

.playlist .p-song:hover:not(.song-active) {
    background: #8a1b1b;
}

.playlist .p-song i:hover {
    opacity: 1.0;
}


.song-active {
    background: green;
}