<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sidebar-style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <span class="material-symbols-outlined album">album</span>
                </span>

                <div class="text header-text">
                    <span class="name">Fraudify</span>
                    <span class="profession">Player audio</span>
                </div>
            </div>


            <span class="material-symbols-outlined toggle">chevron_right</span>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <span class="material-symbols-outlined icon">search</span>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links">

                    <li class="nav-link">
                        <a href="#">
                            <span class="material-symbols-outlined icon home">home</span>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <span class="material-symbols-outlined icon">heart_plus</span>
                            <span class="text nav-text">Likes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <span class="material-symbols-outlined icon">featured_play_list</span>
                            <span class="text nav-text">Playlist</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <span class="material-symbols-outlined icon">person</span>
                            <span class="text nav-text">Account</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <span class="material-symbols-outlined icon logout">logout</span>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="moon-sun">
                        <span class="material-symbols-outlined icon i dark">dark_mode</span>
                        <span class="material-symbols-outlined icon i light">light_mode</span>
                    </div>

                    <span class="mode-text text">Dark Mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <script src="../js/sidebar-script.js"></script>
</body>

</html>